@rem:10rem;

.homebox{
	color: #555;

	.list{

		.item{
			padding-top: 10/@rem;

			.title{
				display: block;
				font-size: 14/@rem;
				text-decoration: none;
				color: #555;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
			}

			.content{
				text-indent:2em;
				-webkit-line-clamp: 3;
				text-overflow: ellipsis;
				overflow: hidden;
				-webkit-box-orient: vertical;
				display: -webkit-box;
			}
			.information{
				display: flex;
				align-items: center;
				justify-content: space-between;
				font-size: 12/@rem;
			}

		}
	}
}